<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="chatdbdatabaseEntities" connectionString="metadata=res://*/ChatDBModel.csdl|res://*/ChatDBModel.ssdl|res://*/ChatDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=den1.mssql1.gear.host;initial catalog=chatdbdatabase;persist security info=True;user id=chatdbdatabase;password=Uq4ci4JD--di;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>